.root {
    /*Our version of black and white*/
    -fx-dark-color: #1C1424;
    -fx-light-color: #F4EEDD;

    /*Main colors of the backgrounds*/
    -fx-primary-background-color: #582D2F;
    -fx-secondary-background-color: #41273B;

    /*Main accent colors*/
    -fx-primary-accent-color: #FD5619;
    -fx-secondary-accent-color: #FFC83B;
}

.main-background {
    -fx-background-image: url("/Images/Background/Background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.status-bar {
    -fx-background-color: -fx-primary-background-color;
    -fx-background-radius: 20;
}
.status-bar .label {
    -fx-font-family: "Helvetica", "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: -fx-light-color !important;
}


.leave-game-btn {
    -fx-background-color: -fx-secondary-accent-color;
    -fx-text-fill: -fx-dark-color;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-radius: 15;
    -fx-border-radius: 10;
    -fx-border-width: 5;
    -fx-border-color: -fx-dark-color;
    -fx-cursor: hand;
}
.leave-game-btn:hover {
    -fx-background-color: -fx-primary-accent-color;
    -fx-text-fill: -fx-dark-color;
}

.card-style {
    -fx-cursor: default;
    -fx-border-radius: 10.0;
    -fx-effect: null;
    /*-fx-animation-name: zoom-out;
    -fx-animation-duration: 0.15s;
    -fx-animation-fill-mode: forwards;*/
}
.card-style:selectable {
    -fx-cursor: hand;
    -fx-border-width: 5;
    -fx-border-radius: 10;
    -fx-border-color: -fx-secondary-accent-color;
    /*-fx-animation-name: zoom-in;
    -fx-animation-duration: 0.15s;
    -fx-animation-fill-mode: forwards;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 200, 59, 0.6), 15, 0.3, 0, 0);*/
}

.tribe-cards-row {
    -fx-background-color: -fx-secondary-background-color;
    -fx-background-radius: 10.0;
    -fx-spacing: 7;
    -fx-padding: 10;

}
.buildings-row {
    -fx-background-color: -fx-primary-background-color;
    -fx-background-radius: 10.0;
    -fx-spacing: 7;
    -fx-padding: 10;
}


@keyframes zoom-in {
    from { -fx-scale-x: 1.0; -fx-scale-y: 1.0; }
    to   { -fx-scale-x: 1.05; -fx-scale-y: 1.05; }
}
@keyframes zoom-out {
    from { -fx-scale-x: 1.05; -fx-scale-y: 1.05; }
    to { -fx-scale-x: 1.0; -fx-scale-y: 1.0; }
}

.tile-style {
    -fx-cursor: default;
    -fx-border-radius: 10.0;
    -fx-effect: null;
    -fx-animation-name: zoom-out;
    -fx-animation-duration: 0.15s;
    -fx-animation-fill-mode: forwards;
}
.tile-style:selectable {
    -fx-cursor: hand;
    -fx-border-width: 5;
    -fx-border-radius: 10;
    -fx-border-color: -fx-secondary-accent-color;
    -fx-animation-name: zoom-in;
    -fx-animation-duration: 0.15s;
    -fx-animation-fill-mode: forwards;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 200, 59, 0.6), 15, 0.3, 0, 0);
}


.tribe-region {
    -fx-background-color: -fx-light-color;
    -fx-background-radius: 20.0;
    -fx-border-color: -fx-primary-background-color;
    -fx-border-radius: 15.0;
    -fx-border-width: 5.0;
}

.tribe-column {
    -fx-background-color: -fx-light-color;
    -fx-background-radius: 10.0;
    -fx-border-color: -fx-primary-accent-color;
    -fx-border-radius: 10.0;
    -fx-border-width: 2.0;
    -fx-spacing: -110px; /* Negative margin to create a cascade effect */
    -fx-padding: 5px;
    -fx-alignment: top-center;
}

.transparent-scroll {
    -fx-background-color: transparent;
}
.transparent-scroll .viewport {
    -fx-background-color: transparent;
}
.transparent-scroll .content {
    -fx-background-color: transparent;
}

.info-board {
    -fx-border-color: -fx-primary-background-color;
    -fx-border-radius: 15;
    -fx-border-width: 4;
    -fx-background-color: -fx-light-color;
    -fx-background-radius: 20;
}

.player-widget {
    -fx-border-color: -fx-primary-background-color;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-background-color: -fx-light-color;
    -fx-background-radius: 15;
}


.offer-track {
    -fx-background-color: -fx-light-color;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.cards-remaining-box {
    -fx-background-color: -fx-light-color;
    -fx-background-radius: 20;
    -fx-border-radius: 15;
    -fx-border-width: 4;
    -fx-border-color: -fx-primary-accent-color;
    -fx-padding: 10;
    -fx-spacing: 5;
}

.cards-remaining-label {
    -fx-background-radius: 15;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: -fx-secondary-accent-color;
    -fx-text-fill: -fx-dark-color;
    -fx-font-size: 18;
}

.pass-turn-btn {
    -fx-background-color: -fx-secondary-accent-color;
    -fx-text-fill: -fx-dark-color;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}
.pass-turn-btn:hover {
    -fx-background-color: -fx-primary-accent-color;
    -fx-border-color: -fx-secondary-accent-color;
    -fx-border-width: 2;
    -fx-border-radius: 4px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


.banner-label {
    -fx-background-color: -fx-light-color;
    -fx-background-radius: 15;
    -fx-padding: 30;
    -fx-spacing: 20;
    -fx-border-color: -fx-secondary-accent-color;
    -fx-border-width: 3;
    -fx-border-radius: 15;
}

.banner-text {
    -fx-text-fill: -fx-dark-color;
    -fx-font-size: 18;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-opacity: 1.0;
}

.notification-container-style {
    -fx-spacing: 10;
    -fx-padding: 15;
    -fx-background-color: -fx-primary-background-color;
    -fx-background-radius: 10;
    -fx-border-color: -fx-secondary-accent-color;
    -fx-border-width: 4;
    -fx-border-radius: 10;
}

.notification-style {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-background-color: -fx-primary-background-color;
    -fx-background-radius: 10;
    -fx-border-color: -fx-primary-accent-color;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.notification-text {
    -fx-text-alignment: left;
    -fx-font-size: 12;
    -fx-text-fill: -fx-light-color;
}

.notification-button {
    -fx-background-color: -fx-secondary-accent-color;
    -fx-text-fill: -fx-light-color;
    -fx-font-weight: bold;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}
.notification-button:hover {
    -fx-background-color: -fx-primary-accent-color;
}

.warning-style {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-background-color: -fx-primary-accent-color;
    -fx-background-radius: 10;
    -fx-border-color: -fx-secondary-accent-color;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.warning-text {
    -fx-text-alignment: left;
    -fx-font-size: 12;
    -fx-text-fill: -fx-dark-color;
}

.warning-button {
    -fx-background-color: -fx-primary-background-color;
    -fx-text-fill: -fx-dark-color;
    -fx-font-weight: bold;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}
.warning-button:hover {
    -fx-background-color: -fx-secondary-accent-color;
}


.placeholder-style {
    -fx-background-color: -fx-light-color;
    -fx-background-radius: 10;
    -fx-text-alignment: center;
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-text-fill: -fx-dark-color;
}

.custom-dialog-pane {
    -fx-background-radius: 20;
}
.custom-dialog-pane, .game-popup-box {
    -fx-background-color: -fx-light-color;
    -fx-border-color: -fx-primary-accent-color;
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-background-radius: 15px;
    -fx-padding: 20;
}

.custom-dialog-title, .game-popup-text {
    -fx-font-family: "Helvetica", "Arial", sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-color;
}

.custom-dialog-description, .game-popup-text {
    -fx-font-family: "Helvetica", "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-dark-color;
}

.dialog-button-yes, .game-button {
    -fx-background-color: -fx-secondary-background-color;
    -fx-text-fill: -fx-light-color;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}
.dialog-button-yes:hover, .game-button:hover {
    -fx-background-color: -fx-primary-accent-color;
}

.dialog-button-no, .game-button {
    -fx-background-color: -fx-secondary-accent-color;
    -fx-text-fill: -fx-dark-color;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}
.dialog-button-no:hover, .game-button:hover {
    -fx-background-color: -fx-primary-accent-color;
}